@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-Regular.ttf") format('ttf'),
  url("../fonts/PetraSans-Regular.woff") format('woff');
  font-weight: 300;
}
@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-Light.ttf") format('ttf'),
  url("../fonts/PetraSans-Light.woff") format('woff');

  font-weight: 400;
}
@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-Medium.ttf") format('ttf'),
  url("../fonts/PetraSans-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-SemiBold.ttf") format('ttf'),
  url("../fonts/PetraSans-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-Bold.ttf") format('ttf'),
  url("../fonts/PetraSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Petra Sans";
  src: url("../fonts/PetraSans-ExtraBold.ttf") format('ttf'),
  url("../fonts/PetraSans-ExtraBold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}