header {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 36px 57px;
  gap: 4em;
  z-index: 2;

  .cont_search {
    display: flex;
  }

  .main_menu {
    flex-grow: 1;

    ul {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        display: inline-block;
      }
    }
  }

  a {
    font-size: 18px;
    color: #909090;
    font-weight: 500;
    position: relative;
    top: 3px;
    &:after {
      margin-top: 5px;
      content: "";
      background: $color-2;
      width: 0;
      height: 2px;
      opacity: 0;
      left: 50%;
      border-radius: 1px;
      position: absolute;
      display: block;
      transition: ease 1s;
    }

    &:hover:after {
      left: 0;
      width: 100%;
      opacity: 1;
      transition: ease-out 500ms;
    }
  }

  .active:after {
    left: 0;
    transform: translate(0%, 0%);
    opacity: 1;
    content: "";
    background: $color-2;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    display: block;
  }
}


@keyframes mymove {
  0% {
    opacity: 0;
  }
}

.mobile_menu {
  display: none;

  .burger_menu {
    display: none;
    opacity: 0;

    &_checked {
      animation: mymove 200ms ease-out;
      transition: 1s;
      z-index: 2;
      right: 0;
      opacity: 1;
      top: 0;
      background: #ffffff;
      display: flex !important;
      position: fixed;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      gap: 2em;
      justify-content: center;

      ul {
        display: flex;
        text-align: center;
        list-style-type: none;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
      }

      .cont_search {
        flex-grow: unset;
        gap: 0;
      }
    }
  }
}

.burger_icon {
  display: flex;
  cursor: pointer;
  max-width: 30px;
  position: relative;
  height: 30px;
  z-index: 200;
  margin-right: 57px;

  &_checked {
    span {
      transition: ease-out 300ms;
    }

    span:nth-child(1) {
      width: 0 !important;
      transform: rotate(-360deg);
      left: 15px !important;
    }

    span:nth-child(2) {
      width: 30px !important;
      top: 13px !important;
      left: 0 !important;
      transform: rotate(-45deg);
    }

    span:nth-child(3) {
      top: 13px !important;
      transform: rotate(45deg);
    }
  }


  span {
    transition: ease-out 300ms;
    height: 5px;
    width: 30px;
    background: $color-3;
    border-radius: 5px;
    display: inline;
    position: absolute;

    &:nth-child(1) {
      width: 20px;
      left: 10px;
      top: 13px;
    }

    &:nth-child(2) {
      width: 13px;
      left: 17px;
      top: 1px;
    }

    &:nth-child(3) {
      left: 0;
      top: 24px;
    }
  }
}

.cont_search {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}